{% extends 'orders/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Menu
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders:view_all_orders' %}">view all orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a id="logout" class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a id="logout" class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a id="view_orders" class="nav-link" href="{% url 'orders:view_own_orders' %}">Submitted Orders</a>
            </li>
            {% if list_items_cart|length == 0 %}
            <li class="nav-item dropdown ml-sm-3">
                <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span class="badge badge-pill badge-info">{{ num_cart_items }}</span></a>
            {% else %}
            <li class="nav-item dropdown ml-sm-3">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span class="badge badge-pill badge-info">{{ num_cart_items }}</span></a>
            {% endif %}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% for item in list_items_cart %}
                    <div class="cart_items m-4 p-2">
                        <a class="">{{ item }}</a>
                        <a href="{% url 'orders:remove_from_cart' item.category item.pk %}" class="btn btn-outline-danger float-right" role="button" name="remove-item">remove</a>
                    </div>
                    {% endfor %}
                    <div class="dropdown-divider align-baseline"></div>
                    <div class="checkout-area align-middle m-4">
                        <a class="align-middle m-3p-4"><b>$ {{ total_cost }}</b></a>
                        <a href="{% url 'orders:confirm_view' %}"class="btn btn-outline-success float-right" role="button" name="checkout">checkout</a>
                    </div>
                </div>
            </li>
            {% endif %}
        {% else %}
            <li class="nav-item mr-sm-2">
                <a id="login" class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item mr-sm-2">
                <a id="register" class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block body %}
<br><br>

<!-- Regular Pizza -->
<div class="container">
    <div class="row row-cols-4 mb-3">
        <div class="col-5 mr-3">
            <h2>Regular Pizza</h2>
        </div>
        <div class="col-2">
            <h4>small</h4>
        </div>
        <div class="col-2">
            <h4>large</h4>
        </div>
    </div>
    {% for pizza in pizzas %}
        {% if pizza.type == "reg" %}
        <form id="{{ pizza.pk }}" action="{% url 'orders:add_to_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="category" value="reg">
            <div class="row mb-3">
                {% if pizza.number_toppings > 0 %}
                    <div class="col-5 mr-3">
                        {{ pizza.name }}
                        <select class="selectpicker dropdown-menu-right" title="Toppings" data-live-search="true" multiple data-max-options="{{ pizza.number_toppings }}">
                            {% for topping in toppings %}
                                <option value="{{ topping.pk }}">{{ topping }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <div class="col-5 mr-3">
                        {{ pizza.name }}
                    </div>
                {% endif %}
                <div class="col-2">
                    <input id="small_{{ pizza.name }}" class="price_small" type="radio" name="options" value="{{ pizza.price_small }}">
                    <label for="small_{{ pizza.name }}">--{{ pizza.price_small }}$</label>
                </div>
                <div class="col-2">
                    <input id="large{{ pizza.name }}" class="price_large" type="radio" name="options" checked value="{{ pizza.price_large }}">
                    <label for="large{{ pizza.name }}">--{{ pizza.price_large }}$</label>
                </div>
                <div class="col-2">
                    {% if user.is_authenticated %}
                    <button value="{{ pizza.pk }}" class="btn btn-outline-danger" type="submit" name="submit-button">add to cart</button>
                    {% endif %}
                </div>
            </div>
        </form>
        {% endif %}
    {% endfor %}
</div>

<br><br>

<!-- Sicilian Pizza -->
<div class="container">
    <div class="row row-cols-4 mb-3">
        <div class="col-5 mr-3">
            <h2>Sicilian Pizza</h2>
        </div>
        <div class="col-2">
            <h4>small</h4>
        </div>
        <div class="col-2">
            <h4>large</h4>
        </div>
    </div>
    {% for pizza in pizzas %}
        {% if pizza.type == "sic" %}
        <form id="{{ pizza.pk }}" action="{% url 'orders:add_to_cart' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="category" value="sic">
            <div class="row row-cols-4 mb-3">
                {% if pizza.number_toppings > 0 %}
                    <div class="col-5 mr-3" id="pizza_{{ pizza.pk }}">
                        {{ pizza.name }}
                        <select name="toppings" class="selectpicker dropdown-menu-right" title="Toppings" data-live-search="true" multiple data-max-options="{{ pizza.number_toppings }}">
                            {% for topping in toppings %}
                                <option value="{{ topping.pk }}">{{ topping }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <div class="col-5 mr-3">
                        {{ pizza.name }}
                    </div>
                {% endif %}
                <div class="col-2">
                    <input id="sic_small_{{ pizza.name }}" class="price_small" type="radio" name="options" value="{{ pizza.price_small }}">
                    <label for="sic_small_{{ pizza.name }}">--{{ pizza.price_small }}$</label>
                </div>
                <div class="col-2">
                    <input id="sic_large{{ pizza.name }}" class="price_large" type="radio" name="options" checked value="{{ pizza.price_large }}">
                    <label for="sic_large{{ pizza.name }}">--{{ pizza.price_large }}$</label>
                </div>
                <div class="col-2">
                    {% if user.is_authenticated %}
                    <button value="{{ pizza.pk }}" class="btn btn-outline-danger" type="submit" name="submit-button">add to cart</button>
                    {% endif %}
                </div>
            </div>
        </form>
        {% endif %}
    {% endfor %}
</div>
<br><br>

<!-- Subs -->
<div class="container">
    <div class="row row-cols-4 mb-3">
        <div class="col-5 mr-3">
            <h2>Subs</h2>
        </div>
        <div class="col-2">
            <h4>small</h4>
        </div>
        <div class="col-2">
            <h4>large</h4>
        </div>
    </div>
    {% for sub in subs %}
        <form id="{{ sub.name }}" action="{% url 'orders:add_to_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="category" value="subs">
            <div class="row row-cols-4 mb-3" id="{{ sub.name }}">
                {% if sub.name == "Steak + Cheese" %}
                    <div class="col-5">
                        {{ sub.name }}
                        <select name="addition" class="selectpicker dropdown-menu-right" title="Additons" data-live-search="true" multiple>
                            {% for addition in additions %}
                                <option value="{{ addition.pk }}">{{ addition }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <div class="col-5">
                        {{ sub.name }}
                        <select name="addition" class="selectpicker dropdown-menu-right" title="Toppings" multiple>

                            <option value=4>Extra Cheese</option>

                        </select>
                    </div>
                {% endif %}
                <div class="col-2">
                    {% if sub.name != "Sausage, Peppers & Onions" %}
                        <input id="small_{{ sub.name }}" class="price_small" type="radio" name="options" value="{{ sub.price_small }}">
                        <label for="small_{{ sub.name }}">--{{ sub.price_small }}$</label>
                    {% endif %}
                </div>
                <div class="col-2">
                    <input id="largel_{{ sub.name }}" class="price_large" type="radio" name="options" checked value="{{ sub.price_small }}">
                    <label for="large_{{ sub.name }}">--{{ sub.price_large }}$</label>
                </div>
                <div class="col-2">
                    {% if user.is_authenticated %}
                    <button value="{{ sub.pk }}" class="btn btn-outline-danger" type="submit" name="submit-button">add to cart</button>
                    {% endif %}
                </div>
            </div>
        </form>

    {% endfor %}
</div>

<br><br>

<!-- pasta -->
<div class="container">
    <div class="row row-cols-3 mb-3">
        <div class="col-5">
            <h2>Pasta</h2>
        </div>
        <div class="col-2">
            <h4>price</h4>
        </div>
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
    </div>
    {% for pasta in pastas %}
    <form class="{{ pasta.name }}" action="{% url 'orders:add_to_cart' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="category" value="pasta">
            <div class="row mb-3">
                <div class="col-5">
                    {{ pasta.name }}
                </div>
                <div class="col-2">
                    <span class="price">{{ pasta.price }}</span>
                </div>
                <div class="col-2">
                </div>
                <div class="col-2">
                    {% if user.is_authenticated %}
                    <button value="{{ pasta.pk }}" class="btn btn-outline-danger" type="submit" name="submit-button">add to cart</button>
                    {% endif %}
                </div>
            </div>
    </form>
    {% endfor %}
</div>

<br><br>


<!-- salads -->
<div class="container">
    <div class="row row-cols-3 mb-3">
        <div class="col-5">
            <h2>Salads</h2>
        </div>
        <div class="col-2">
            <h4>price</h4>
        </div>
    </div>
    {% for salad in salads %}
    <form id="{{ salad.name }}" action="{% url 'orders:add_to_cart' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="category" value="salad">
            <div class="row mb-3">
                <div class="col-5">
                    {{ salad.name }}
                </div>
                <div class="col-2">
                    <span class="price">{{ salad.price }}</span>
                </div>
                <div class="col-2">
                </div>
                <div class="col-2">
                    {% if user.is_authenticated %}
                    <button value="{{ salad.pk }}" class="btn btn-outline-danger" type="submit" name="submit-button">add to cart</button>
                    {% endif %}
                </div>
            </div>
        </form>
    {% endfor %}
</div>

<br><br>

<!-- Dinner Platters -->
<div class="container">
    <div class="row row-cols-4 mb-3">
        <div class="col-5 mr-3">
            <h2>Dinner Platter</h2>
        </div>
        <div class="col-2">
            <h4>small</h4>
        </div>
        <div class="col-2">
            <h4>large</h4>
        </div>
    </div>
    {% for platter in dinner_platters %}
        <form class="{{ platter.pk }}" action="{% url 'orders:add_to_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="category" value="platter">
            <div class="row row-cols-4 mb-3">
                    <div class="col-5 mr-3">
                        {{ platter.name }}
                    </div>
                    <div class="col-2">
                        <input id="small_{{ platter.name }}" class="price_small" type="radio" name="options" value="{{ platter.price_small }}">
                        <label for="small_{{ platter.name }}">--{{ platter.price_small }}$</label>
                    </div>
                    <div class="col-2">
                        <input id="large{{ platter.name }}" class="price_large" type="radio" name="options" checked value="{{ platter.price_large }}">
                        <label for="large{{ platter.name }}">--{{ platter.price_large }}$</label>
                    </div>
                    <div class="col-2">
                        {% if user.is_authenticated %}
                        <button value="{{ platter.pk }}" class="btn btn-outline-danger" type="submit" name="submit-button">add to cart</button>
                        {% endif %}
                    </div>
            </div>
        </form>
    {% endfor %}
</div>

<br><br><br><br>

{% endblock %}
