{% extends 'orders/base.html' %}

{% block title %}
{{ user.name }}s Orders
{% endblock %}

{% block body %}
<div class="container jumbotron">
    <div class="row">
        <div class="col">
            <h1 class="page_header">Your Orders</h1>
        </div>
    </div>
</div>

<div class="container jumbotron">
    <div class="row">
        {% for order in checkouts %}
        <div class="col-12 col-xl-3 col-lg-4 col-md-6">
            <div class="card border-secondary mb-3 shadow-sm">
                <div class="card-header">
                    Order ID: {{ order.pk }}
                </div>
                <div class="card-body text-secondary">
                    <div class="container">
                        <!-- <div class="row">
                            <div class="col">
                                Guest
                            </div>
                            <div class="col">
                                {{ order.user }}
                            </div>
                        </div> -->
                        <br>
                        <!-- look for every pizza that has the same order_id  -->
                        {% for item in order.orderpizza_set.all %}
                        <div class="row">
                            <!-- look for the specific pizza objects -->
                            {% for pizza in item.pizza.all %}
                                <div class="col">
                                    {{ pizza.name }}
                                </div>
                                <div class="col">
                                    ${{ item.price }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for item in order.ordersub_set.all %}
                        <div class="row">
                            <!-- look for the specific pizza objects -->
                            {% for sub in item.sub.all %}
                                <div class="col">
                                    {{ sub.name }}
                                </div>
                                <div class="col">
                                    ${{ item.price }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for item in order.orderpasta_set.all %}
                        <div class="row">
                            <!-- look for the specific pizza objects -->
                            {% for p in item.pasta.all %}
                                <div class="col">
                                    {{ p.name }}
                                </div>
                                <div class="col">
                                    ${{ item.price }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for item in order.ordersalad_set.all %}
                        <div class="row">
                            <!-- look for the specific pizza objects -->
                            {% for salad in item.salad.all %}
                                <div class="col">
                                    {{ salad.name }}
                                </div>
                                <div class="col">
                                    ${{ item.price }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for item in order.dinner_platter_set.all %}
                        <div class="row">
                            <!-- look for the specific pizza objects -->
                            {% for p in item.dinner_platter.all %}
                                <div class="col">
                                    {{ p.name }}
                                </div>
                                <div class="col">
                                    ${{ item.price }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Order date: {{ order.order_date}}
                            </div>
                        </div>
                        {% if order.delivered %}
                        <div class="alert alert-success" role="alert">
                            The Order is delivered!
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
